* {
  box-sizing: border-box; }

body {
  background: #fff;
  font-family: "Raleway", Helvetica, Arial, sans-serif; }

h1 {
  margin: 0; }

a:visited {
  fill: #a6a6b9; }

#app-name span,
#user-name, .search-area input, #alert, .social-media h1 {
  font-weight: 100; }

.tabbed-nav h1, .graph-title {
  font-weight: normal; }

#alert :first-of-type {
  font-weight: 700; }

#notification-bell, .nav-icon, #alert #close-alert, .line-graph-nav li, .member-container {
  cursor: pointer; }

.app-header {
  background: #7477bf;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1000; }

#app-name {
  margin: 21.5px 0; }

#trademark {
  font-size: .5em;
  position: absolute; }

.notification {
  position: relative; }

.notification-bell-illuminated {
  fill: #fff; }

#notification-bell {
  margin: 25px 0; }

.notification-bell-dimmed {
  fill: #a6a6b9; }

#notification-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #81c98f;
  position: absolute;
  right: 0px;
  top: 20px; }

#border {
  border-right: 1.75px solid #5d61bf;
  margin: 16px 17px; }

.user-avatar {
  margin: 20px 0; }

#user-name {
  margin: 29px 0 23px 10px; }

.user-info {
  display: inline-flex; }

#nav-bar {
  width: 100%;
  height: 80px;
  background: #4d4c72;
  margin-top: 80px; }
  @media screen and (min-width: 1024px) {
    #nav-bar {
      width: 80px;
      height: calc(100vh - 80px);
      position: fixed; } }

#main-nav {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: auto;
  justify-content: space-around; }
  @media screen and (min-width: 1024px) {
    #main-nav {
      flex-direction: column;
      width: 100%;
      padding-top: 10px;
      justify-content: flex-start; } }

.nav-icon {
  padding: 15px 25px;
  margin-top: 13px;
  fill: #a6a6b9; }
  @media screen and (min-width: 1024px) {
    .nav-icon {
      margin: 10px 0; } }

.icon {
  width: 30px;
  height: 30px; }

.main-nav-selected {
  border-bottom: 3px solid #81c98f;
  margin-top: 16px;
  padding-bottom: 12px; }
  .main-nav-selected .icon {
    fill: #fff; }
  @media screen and (min-width: 1024px) {
    .main-nav-selected {
      border-bottom: none;
      border-left: 3px solid #81c98f;
      padding-left: 22px;
      padding-bottom: 15px; } }

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.tabbed-nav {
  display: inline-block;
  height: 80px; }
  .tabbed-nav h1 {
    padding: 21.5px 20px;
    color: #676666; }
  @media screen and (min-width: 1024px) {
    .tabbed-nav {
      padding-top: 80px;
      margin-left: 80px; } }

.search-area {
  background: #fbfbfb;
  display: inline-block;
  height: 80px;
  position: absolute;
  top: 160px;
  width: calc(100% - 201.09px);
  border-bottom: 0.12em solid #d8d8d8;
  border-left: 0.12em solid #d8d8d8; }
  .search-area input {
    margin-top: 20px;
    -webkit-appearance: none;
    outline-color: #81c98f;
    margin-left: calc(100% - 420px);
    height: 40px;
    border: 1.5px solid #d8d8d8;
    border-radius: 5px;
    width: 400px;
    padding: 15px; }
  @media screen and (min-width: 1024px) {
    .search-area {
      top: 80px;
      width: calc(100% - 201.09px - 80px); } }

.content {
  width: 100%;
  padding: 0 20px; }
  @media screen and (min-width: 1024px) {
    .content {
      margin-left: 80px;
      width: calc(100% - 80px); } }

.content-divider {
  width: 100%;
  border-bottom: 0.12em solid #d8d8d8; }

.graph-title {
  display: inline-block;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  color: #676666;
  padding: 5px 10px 5px 0; }

#alert {
  width: 100%;
  background-color: #7477bf;
  padding: 10px;
  color: #fbfbfb;
  border-radius: 5px;
  margin-top: 20px; }
  #alert :first-of-type {
    margin: 0 5px;
    letter-spacing: .05em;
    color: #fff; }
  #alert #close-alert {
    float: right; }
  @media screen and (min-width: 1024px) {
    #alert {
      margin-top: 44.5px; } }

.web-traffic {
  width: 100%;
  height: auto; }

.main-graph {
  padding: 30px 0; }

.line-graph-nav {
  float: right;
  display: inline-block; }
  .line-graph-nav li {
    float: left;
    color: #676666;
    margin-left: 15px;
    padding: 5px 10px; }
  .line-graph-nav .line-graph-selected {
    background-color: #81c98f;
    border-radius: 20px;
    color: #fff; }

.secondary-graph {
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
  display: inline-block; }

.daily-traffic {
  padding-right: 20px; }

.mobile-users {
  padding-left: 20px;
  float: right;
  border-left: 0.12em solid #d8d8d8; }

#pie-chart-legend {
  display: inline-block; }

#pie-chart {
  display: inline-block; }

.social-stats {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  @media screen and (min-width: 820px) {
    .social-stats {
      justify-content: space-between;
      flex-direction: row; } }

.social-media-stat {
  margin-left: 30px;
  align-self: center;
  letter-spacing: .05em;
  font-size: 1.4em; }

.social-media {
  width: 100%;
  height: 100px;
  margin: 0 auto 45px;
  background-color: #fbfbfb;
  border: 0.12em solid #d8d8d8;
  border-radius: 5px;
  display: flex;
  justify-content: center; }
  @media screen and (min-width: 820px) {
    .social-media {
      width: 31.5%;
      margin: 0 0 45px; } }

.social-media h4 {
  color: #7477bf;
  display: inline-block;
  margin: 0; }

#social-stats-title {
  margin-top: 20px;
  margin-bottom: 10px; }

.circle {
  width: 75px;
  height: 75px;
  background-color: #7477bf;
  border-radius: 50%;
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: calc((100px - 75px) / 2); }

.social-media-icon {
  width: 80%;
  height: auto;
  margin: auto;
  fill: #fff;
  padding: 8px; }

.new-members-list li:nth-of-type(1n + 2),
.recent-activity-list li:nth-of-type(1n + 2) {
  border-top: 0.12em solid #d8d8d8; }

.new-members-widget,
.recent-activity-widget {
  padding-top: 20px;
  padding-bottom: 10px;
  display: inline-block; }
  .new-members-widget li,
  .recent-activity-widget li {
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }

.new-members-widget {
  width: 100%; }
  @media screen and (min-width: 820px) {
    .new-members-widget {
      width: 45%;
      padding-right: 20px; } }
  @media screen and (min-width: 920px) {
    .new-members-widget {
      width: 50%; } }

.recent-activity-widget {
  width: 100%; }
  @media screen and (min-width: 820px) {
    .recent-activity-widget {
      width: 55%;
      padding-left: 20px;
      float: right;
      border-left: 0.12em solid #d8d8d8; } }
  @media screen and (min-width: 920px) {
    .recent-activity-widget {
      width: 50%; } }

.member-title {
  margin: 0; }

.member-info {
  display: inline-block;
  margin-left: 10px; }
  .member-info span {
    display: block; }

.list-info {
  float: right;
  font-size: .8em; }

.member-container {
  display: flex;
  align-items: center; }

.member-email,
.activity-time {
  font-size: .75em; }

.member-email {
  color: #7477bf; }

.member-name,
.member-activity {
  font-size: .8em; }

.more-info {
  width: 15px;
  height: 15px;
  fill: #4d4c72; }

.message-user,
.settings {
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block; }

.settings {
  width: 100%; }
  @media screen and (min-width: 820px) {
    .settings {
      width: 45%;
      padding-left: 20px;
      float: right;
      border-left: 0.12em solid #d8d8d8; } }
  @media screen and (min-width: 920px) {
    .settings {
      width: 50%; } }

.message-user {
  width: 100%; }
  @media screen and (min-width: 820px) {
    .message-user {
      padding-right: 20px;
      width: 55%; } }
  @media screen and (min-width: 920px) {
    .message-user {
      width: 50%; } }

.message-area input,
.message-area textarea,
.message-area button {
  width: 100%;
  outline-color: #81c98f;
  border-radius: 5px;
  font-size: .85em; }
.message-area input,
.message-area textarea {
  -webkit-appearance: none;
  border: 1.5px solid #d8d8d8;
  padding: 10px;
  background-color: #fbfbfb;
  margin-bottom: 15px; }
.message-area input {
  height: 40px; }
.message-area textarea {
  height: 120px; }
.message-area button {
  height: 45px;
  background-color: #7477bf;
  color: #fff;
  padding: 15px;
  border: none;
  text-transform: uppercase; }

.user-title {
  margin-bottom: 15px; }

.settings button {
  height: 45px;
  outline-color: #81c98f;
  border-radius: 5px;
  font-size: .85em;
  color: #fff;
  border: none;
  width: 48%;
  text-transform: uppercase; }
  .settings button[type="submit"] {
    background-color: #7477bf; }
  .settings button[type="button"] {
    float: right; }
.settings select {
  width: 100%;
  height: 40px;
  -webkit-appearance: none;
  border: 1.5px solid #d8d8d8;
  padding: 10px;
  outline-color: #81c98f;
  border-radius: 5px;
  font-size: .85em;
  background: url(../icons/down-arrow.svg) no-repeat 98% 50% #fbfbfb;
  margin-bottom: 15px;
  margin-top: 29px; }
.settings div:nth-of-type(0n + 2) .switch {
  margin-left: 65.33px; }

.switch {
  margin-left: 30px; }

.toggle-switches {
  display: flex;
  align-items: center;
  margin-bottom: 30px; }

/*****************
* Toggle sliders *
*****************/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 25px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #7477bf; }

input:focus + .slider {
  box-shadow: 0 0 1px #7477bf; }

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

/*# sourceMappingURL=application.css.map */
