.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.tabbed-nav {
  display: inline-block;
  height: 80px;

  h1 {
    padding: 21.5px 20px;
    @extend %normal-text;
    color: $content-text-color;
  }

  @include mediaQueryBreakpoint(large) {
    padding-top: 80px;
    margin-left: 80px;
  }
}

.search-area {
  background: $grey-color;
  display: inline-block;
  height: 80px;
  position: absolute;
  top: 160px;
  width: calc(100% - 201.09px);
  border-bottom: $border-width solid $grey-border;
  border-left: $border-width solid $grey-border;

  input {
    margin-top: 20px;
    -webkit-appearance: none;
    outline-color: $green-color;
    margin-left: calc(100% - 420px);
    height: 40px;
    border: 1.5px  solid $grey-border;
    border-radius: 5px;
    width: 400px;
    padding: 15px;
    @extend %thin-text;
  }

  @include mediaQueryBreakpoint(large) {
    top: 80px;
    width: calc(100% - 201.09px - 80px);
  }
}

.content {
  width: 100%;
  padding: 0 20px;

  @include mediaQueryBreakpoint(large) {
    margin-left: 80px;
    width: calc(100% - 80px);
  }
}

.content-divider {
  width: 100%;
  border-bottom: $border-width solid $grey-border;
}

.graph-title {
  display: inline-block;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  @extend %normal-text;
  color: $content-text-color;
  padding: 5px 10px 5px 0;
}