#alert {
  width: 100%;
  background-color: $main-purple;
  padding: 10px 30px 10px 10px;
  color: $grey-color;
  border-radius: $border-radius;
  margin-top: 20px;
  @extend %thin-text;
  font-size: .9em;
  position: relative;

  & :first-of-type {
    @extend %bold-text;
    margin: 0 5px 0 0;
    letter-spacing: .05em;
    color: $white;
  }

  #close-alert {
    float: right;
    @extend %pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  @include mediaQueryBreakpoint(small) {
    font-size: 1em;
  }

  @include mediaQueryBreakpoint(large) {
    margin-top: 44.5px;
  }
}