.new-members-list li:nth-of-type(1n + 2),
.recent-activity-list li:nth-of-type(1n + 2) {
  border-top: $border-width solid $grey-border;
}

.new-members-widget,
.recent-activity-widget {
  padding-top: 20px;
  padding-bottom: 10px;
  display: inline-block;

  li {
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.new-members-widget {
  width: 100%;

  @include mediaQueryBreakpoint(small) {
    width: 45%;
    padding-right: 20px;
  }

  @include mediaQueryBreakpoint(medium) {
    width: 50%;
  }
}

.recent-activity-widget {
  width: 100%;

  @include mediaQueryBreakpoint(small) {
    width: 55%;
    padding-left: 20px;
    float: right;
    border-left: $border-width solid $grey-border;
  }

  @include mediaQueryBreakpoint(medium) {
    width: 50%;
  }
}

.member-title {
  margin: 0;
}

.member-info {
  display: inline-block;
  margin-left: 10px;

  span {
    display: block;
  }
}

.list-info {
  float: right;
  font-size: .8em;
}

.member-container {
  display: flex;
  align-items: center;
  @extend %pointer;
}

.member-email,
.activity-time {
  font-size: .75em;
}

.member-email {
  color: $main-purple;
}

.member-name,
.member-activity {
  font-size: .8em;
}

.more-info {
  width: 15px;
  height: 15px;
  fill: $nav-purple;
}












