.secondary-graph {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
  display: inline-block;

  @include mediaQueryBreakpoint(small) {
    width: 50%;
  }
}

.daily-traffic {
  @include mediaQueryBreakpoint(small) {
    padding-right: 20px;
  }
}

.mobile-users {
  @include mediaQueryBreakpoint(small) {
    padding-left: 20px;
    float: right;
    border-left: $border-width solid $grey-border;
  }
}

#pie-chart-legend {
  display: inline-block;
}

#pie-chart {
  display: inline-block;
}