.secondary-graph {
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
  display: inline-block;
}

.daily-traffic {
  padding-right: 20px;
}

.mobile-users {
  padding-left: 20px;
  float: right;
  border-left: $border-width solid $grey-border;
}

#pie-chart-legend {
  display: inline-block;
}

#pie-chart {
  display: inline-block;
}