// color variables
$main-purple        : #7477bf;
$white              : #fff;
$nav-purple         : #4d4c72;
$dark-purple        : #5d61bf;
$grey-color         : #fbfbfb;
$grey-border        : #dbdbdb;
$content-text-color : #676666;
$green-color        : #85db80;
$dimmed-icon-color  : #a6a6b9;

// Font stacks
$stack-sans-serif   : Helvetica, Arial, sans-serif;
$raleway           : 'Raleway', $stack-sans-serif;
